body {
  margin: 0;
  padding: 0;
}

.contenitor {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenitor .box {
  width: 100%;
}

.contenitor .box img {
  width: 100%;
}
